<div class="island greybox push--sides">
  <div class='brand'>{{entry.companyName}}</div>
  <div>{{entry.description}}</div>
  <div>
    <span>{{entry.startDate}} - {{entry.endDate}}</span>
  </div>
  <div>
    <span>{{entry.locationCity}}, {{entry.locationState}}</span>
  </div>
  <div>{{entry.title}}</div>
</div>